.card{
    display:flex;
    top:0.7rem;
    position:relative;
    margin:auto;
    background-color:aliceblue;
    border-radius:25px;
    height:28rem;
    width:65%;   
}
.row{
    margin:20px;
    padding:10px;
}
span{
    color:red;
}
.input-group{
    padding:10px;
 
}
label{
    position:relative;
    left:25px;
    padding:5px;
    font-size: 0.75em;
}
select{
    margin:auto;
    width:300px;
    left:30px;
    position:relative;
    height:40px;
}
input{
 
        margin:auto;
        width:295px;
        left:30px;
        position:relative;
        height:35px;
        
   
}
button{
    position:relative;
    left:100px;
    width:150px;
    height:40px;
    background-color:rgb(34, 34, 198);
    color:white;
    font-weight:bold;
    
    border:none;
    border-radius: 5px;
    
}
button:hover{
    background-color:bisque;
    color:black;
    font-weight: bolder;
    border:1px solid blue;
}